<li data-filtertext="homepage" data-icon="home"><a href="./">Home</a></li>
<li data-filtertext="<%= pages.a1.en %>"><a href="./<%= pages.a1.link %>"><%= pages.a1.my %></a></li>
<li data-filtertext="<%= pages.a2.en %>"><a href="./<%= pages.a2.link %>"><%= pages.a2.my %></a></li>
<li data-role="collapsible" data-collapsed="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false">
    <h3><%= pages.a3.my %></h3>
    <ul>
        <li data-filtertext="<%= pages.a3a.en %>"><a href="./<%= pages.a3a.link %>"><%= pages.a3a.my %></a></li>
        <li data-filtertext="<%= pages.a3b.en %>"><a href="./<%= pages.a3b.link %>"><%= pages.a3b.my %></a></li>
        <li data-filtertext="<%= pages.a3c.en %>"><a href="./<%= pages.a3c.link %>"><%= pages.a3c.my %></a></li>
    </ul>
</li>
<li data-filtertext="<%= pages.a4.en %>"><a href="./<%= pages.a4.link %>"><%= pages.a4.my %></a></li>

