<li data-filtertext="homepage" data-icon="home"><a href="./">Home</a></li>
<li data-filtertext="abhidhamma"><a href="./abhidhamma_intro.html"><%= pages.abhidhamma_intro %></a></li>
<li data-filtertext="pannatti paramattha"><a href="./pannatti_paramattha.html"><%= pages.pannatti_paramattha %></a></li>
<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false">
    <h3><%= pages.akusala_citta %></h3>
    <ul>
        <li data-filtertext="akusala citta"><a href="./akusala_citta.html" data-ajax="false"><%= pages.akusala_citta %></a></li>
        <li data-filtertext="akusala citta"><a href="./akusala_citta_a.html" data-ajax="false"><%= pages.akusala_citta_a %></a></li>
        <li data-filtertext="akusala citta"><a href="./akusala_citta_b.html" data-ajax="false"><%= pages.akusala_citta_b %></a></li>
    </ul>
</li>
