<ul class="toc">
    <li data-filtertext="<%= pages.a1.en %>"><a href="./a1.html"><%= pages.a1.my %></a></li>
    <li data-filtertext="<%= pages.a2.en %>"><a href="./a2.html"><%= pages.a2.my %></a></li>
    <li>
        <ul>
            <li data-filtertext="<%= pages.a3a.en %>"><a href="./a3a.html"><%= pages.a3a.my %></a></li>
            <li data-filtertext="<%= pages.a3a.en %>"><a href="./a3b.html"><%= pages.a3.my %> <%= pages.a3b.my %></a></li>
            <li data-filtertext="<%= pages.a3a.en %>"><a href="./a3c.html"><%= pages.a3c.my %></a></li>
        </ul>
    </li>
</ul>
